:root {
  --first-color: #66bfbf;
  --second-color: #eaf6f6;
  --third-color: #fcfefe;
  --fourth-color: #f76b8a;
  --image-size: 500px;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--second-color);
  font-family: "Nunito", sans-serif;
}

h1 {
  color: var(--first-color);
  font-size: 84px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 30px;
  line-height: 2;
  color: #272142;
  text-align: center;
}
h3 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
i {
  font-size: 70px;
  color: var(--first-color);
}
hr {
  color: var(--first-color);
}
footer {
  text-align: center;
}
.navbar {
  background: rgba(102, 191, 191, 0.1) !important;
}
.navbar-icon {
  border-radius: 50%;
  margin-right: 10px;
}
.navbar-brand {
  font-size: 22px;
  font-weight: 400;
}
.menu {
  display: flex;
  justify-content: flex-end;
}

.active {
  color: var(--fourth-color) !important;
}
.project-title {
  font-size: 48px;
  font-weight: bold;
  color: var(--first-color);
}
.avatar-img {
  padding: 100px;
  width: var(--image-size);
  border-radius: 50%;
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.hero {
  display: flex;
  justify-content: center;
  padding: 170px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-links {
  align-content: center;
}
.btn-branding {
  background: #f76b8a;
  border-radius: 5px;
  color: var(--third-color);
  padding: 18px, 30px, 18px, 30px;
  width: 200px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.btn:hover {
  background: #66bfbf;
  color: var(--second-color);
}
.btn-project {
  background: #f76b8a;
  border-radius: 5px;
  color: var(--third-color);
  padding: 18px, 35px, 18px, 35px;
  width: 180px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.title {
  margin-top: 170px;
}

.project-description {
  padding-left: 50px;
}

.btn-primary {
  background: #f76b8a;
  border-radius: 5px;
  color: var(--third-color);
  padding: 18px, 35px, 18px, 35px;
  width: 180px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: solid #f76b8a;
}

.contact-form {
  display: block;
  margin: 0 auto;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer-contact-icon {
  font-size: 35px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 64px;
    line-height: 1;
    text-align: center;
  }
  h2 {
    text-align: center !important;
    font-size: 16px;
  }
  h3 {
    text-align: center;
    font-size: 30px;
  }
  p {
    text-align: center;
  }
  i {
    font-size: 16px;
  }
  .hero {
    display: block;
  }
  .btn-project {
    width: 120px;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .btn-contact {
    width: 120px;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .tool-skill-name {
    font-size: 12px;
  }
  .contact-icon {
    font-size: 30px;
  }
}
