:root {
  --first-color: #66bfbf;
  --second-color: #eaf6f6;
  --third-color: #fcfefe;
  --fourth-color: #f76b8a;
  --image-size: 500px;
}

body {
  background: var(--second-color);
  font-family: "Nunito", sans-serif;
}

h1 {
  color: var(--first-color);
  font-size: 84px;

  font-weight: bold;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  line-height: 2;
  color: #272142;
}

.hero {
  text-align: center;
  padding: 170px;
}

.btn-branding {
  background: #f76b8a;
  border-radius: 5px;
  color: var(--third-color);
  padding: 18px, 30px, 18px, 30px;
  width: 200px;
  font-size: 20px;
  font-weight: normal;
}

.img-fluid {
  height: auto;
  max-width: 100%;
  padding: 100px;
  width: var(--image-size);
  border-radius: 50%;
}
.text-center {
  text-align: center !important;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}

@media (max-width: 576px) {
  .h1 {
    font-size: 64px;
    line-height: 1;
  }
  h2 {
    text-align: center;
    font-size: 22px;
  }
}
